<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
		<div class="span8">
			<h3>Feed</h3>
			<%= render 'shared/feed' %>
		</div>
  </div>  
<% else %>
	<div class="center hero-unit signup">
		<h1>Welcome to Creatiq<span id="orangeDot">.</span>me!</h1>
	
		<h2>Creatiq.me is platform for design students</h2>
	
		<%= link_to "Sign up now!", signup_path, 
								class: "btn btn-large btn-primary" %>
	</div>
	<div class="row">
		<div class="main_feed">
			<h1>Recent Posts</h1>
			<%= render 'shared/main_feed' %>
		</div>
	</div>
<% end %>