<%= stylesheet_link_tag '/stylesheets/slimbox2.css' %>
<%= javascript_include_tag '/javascripts/slimbox2.js' %>


<li id="<%= feed_item.id %>">
	<%= link_to gravatar_for(feed_item.user), feed_item.user %>
		<span class="user">
			<%= link_to feed_item.user.name, feed_item.user %>
		</span>
		<span class="content">
			<%= link_to(image_tag(feed_item.image.url(:small)), feed_item) unless feed_item.image.nil? %>
			<br />
			<%= feed_item.content %>
		</span>
		<span class="timestamp">
			Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
		</span>
	<% if current_user?(feed_item.user) %>
		<%= link_to "delete", feed_item, method: :delete,													 confirm: "You sure?",												 title: feed_item.content %>
	<% end %>
</li>