<%= stylesheet_link_tag '/stylesheets/slimbox2.css' %>
<%= javascript_include_tag '/javascripts/slimbox2.js' %>

<li id="<%= main_feed_item.id %>">
	<div>
		<span class="content">
			<%= link_to(image_tag(main_feed_item.image.url(:small)),
								  main_feed_item) unless main_feed_item.image.nil? %>
			<br />
			<%= main_feed_item.content %>
		</span>
		<span class="user">
			<%= link_to main_feed_item.user.name, main_feed_item.user %>
		</span>
		<br />
		<span class="timestamp">
			Posted <%= time_ago_in_words(main_feed_item.created_at) %> ago.
		</span>
		<% if current_user?(main_feed_item.user) %>
			<%= link_to "delete", main_feed_item, method: :delete,
												  confirm: "You sure?",
												  title: main_feed_item.content %>
		<% end %>
	</div>
</li>