<%= form_for(@micropost, :html => { :multipart => true }) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Add a comment..." %>
	</div>
	
	<%= f.file_field :image %>
	
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>