<%= stylesheet_link_tag '/stylesheets/slimbox2.css' %>
<% javascript_include_tag '/javascripts/slimbox2.js' %>

<% if @microposts.any? %>
	<ol class="posts">
		<%= render partial: 'shared/main_feed_item', collection: @microposts %>
	</ol>
<% end %>