<%= stylesheet_link_tag '/stylesheets/slimbox2.css' %>
<%= javascript_include_tag '/javascripts/slimbox2.js' %>

<li>
	<span class="content">
    <%= link_to(image_tag(micropost.image.url(:small)), micropost) unless micropost.image.nil? %>
    <br />
  	<%= micropost.content %>
	</span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(micropost.created_at) %>
	</span>
	<% if current_user?(micropost.user) %>
		<%= link_to "delete", micropost, method: :delete,
										 confirm: "You sure?",
										 title: micropost.content %>
	<% end %>
</li>