<%= stylesheet_link_tag '/stylesheets/slimbox2.css' %>
<%= javascript_include_tag '/javascripts/slimbox2.js' %>

<% provide(:title, "Detail View") %>
	<div class="row">
		<div class="span2 userDetail">
			<span class="userPic">
				<%= link_to gravatar_for(@micropost.user), @micropost.user %>
			</span>
			<br />
			<br />
			<br />
			<br />
			<br />
			<span class="user">
				<%= link_to @micropost.user.name, @micropost.user %>
			</span>
			<br />
			<span class="timestamp detailTime">
				Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
			</span>
		</div>
		<div class="span10">
			<div class="postImage">
				<%= link_to(image_tag(@micropost.image.url(:large)), @micropost.image.url(:large), :rel => "lightbox") unless @micropost.image.nil? %>
			</div>
			<div class="postContent">
				<h5><%= @micropost.content %></h5>
			</div>
		</div>
	</div>