@import "bootstrap";

/* mixins, variables, etc */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
	background: url('bg.gif') repeat;
}

body {
	padding-top: 60px;
	background: url('bg.gif') repeat;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
  text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4 h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;	
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

/* aside */

aside {
	section {
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.6em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.navbar-inner {
	background: url('header-bg.png') repeat;
}

/* forms */

input, texarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	@include box_sizing;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 3px solid $grayMediumLight;
	color: $grayLight;
	a {
		color: $gray;
		&:hover {
			color: grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}


/* micropost */

.microposts { 
	list-style: none;
	margin: 10px 0 0 0;
	
	li {
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
	}
.content {
	display: block;
}

.timestamp {
	color: $grayLight;
}

.gravatar {
	float: left;
	margin-right: 10px;
}
aside {
	textarea{
		height: 100px;
		margin-bottom: 5px;
	}
}
/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

.containter, .signup {
	background: url('bg.gif') repeat;
}

/* Main Feed */

.main_feed {
	margin: 0 0 0 3%;
	text-align: center;
	clear: both;
}

.posts {
	margin: 0px auto;
	list-style: none;
	li {
		margin: 5px 5px;
		padding: 5px;
		width: 30.5%;
		height: 300px;
		float: left;
		display: inline-table;
		border: 2px $grayMediumLight solid;
		-webkit-border-radius: 1.5px;
		-webkit-box-shadow: 2px 1px 9px rgba(33, 34, 34, 0.5);
		background-color: $grayLighter;
		text-align: center;
		div {
			display: table-cell;				
			vertical-align: middle;
		}
	}
}

#orangeDot {
	color: #ffb03b;
}

/* Detail Page */
.postImage, .postContent {
	margin-left: 5px;
}

.postImage{
	padding-bottom: 5px;
	// background-color: rgba(159, 160, 161, 0.2);
	img {
		border: solid 6px #fff;
	};
}

.userDetail {
	border-bottom: 1px dashed $grayDarker;
}
