<footer class="footer">
	<small>
		<p>&#169; 2012 Creatiq.me</p>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "Contact",  contact_path %></li>
		</ul>
	</nav>
</footer>